<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View all Portfolio Items", portfolios_path, class: "btn btn-secondary" %> /
      <a href="#" class = 'btn btn-secondary'>Back to top</a>
    </p>
    <p>
    <%= copyright_generator %>
    </p>
  </div>
</footer>