<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "IMG_0792.jpg", width: 300, alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>
      Putting something here to make sure this paragraph is working.
    </p>

    <p>
      And again here just to see what will happen. Not sure that was long enough so I'm rambling here just to make it longer. Apologies if you're actually reading this.
    </p>

  </div>
</div>











