<h1>Contact</h1>

<hr>
<div class="row">
  <div class="col-md-6">
    <h3> Address</h3>

    <p>address here</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "555-555-5555" %></p>

    <h3>Email</h3>

    <p><a href="#" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/place/9313+N+9550+W,+Lehi,+UT+84043/@40.3971199,-111.8953774,14.49z/data=!4m5!3m4!1s0x874d7fc0acc8acdd:0x497521f3fc3bb670!8m2!3d40.4047909!4d-111.8866179" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>