<div class="row">
  <div class="col-sm-8">
    <div class="inner cover front-items">
      <h1 class="cover-heading">Welcome to my Site</h1>
      <p class="lead">Philosopher, Father, Husband, Man of Action.</p>
      
    </div>
  </div>

  <div class="col-sm-4">
    <%= link_to 'My Projects', portfolios_path, class: 'btn port-btn btn-block' %>
  </div>
</div>